{% comment %} Reusable talk row component for schedule tables. Usage: {% include
talk_row.html talk=talk %} or {% include talk_row.html talk=talk year=talk_year
%} The optional year parameter adds data-year attributes for filtering. {%
endcomment %}
<tr
  class="talk-row"
  {%
  if
  include.year
  %}
  data-year="{{ include.year }}"
  {%
  endif
  %}
>
  <td class="talk-date-col">{{ include.talk.date | date: "%-d %b %Y" }}</td>
  <td class="talk-speaker-col">
    {{ include.talk.speaker }} {% if include.talk.affiliation %}
    <span class="talk-affiliation">{{ include.talk.affiliation }}</span>
    {% endif %}
  </td>
  <td class="talk-title-col">
    <em>{{ include.talk.title }}</em>
    {% if include.talk.abstract %}
    <button
      class="abstract-toggle-btn"
      onclick="this.closest('tr').nextElementSibling.classList.toggle('abstract-row-hidden')"
    >
      <span class="arrow">&#9654;</span> Abstract
    </button>
    {% endif %}
  </td>
  <td class="talk-links-col">
    {% include talk_links.html talk=include.talk %}
  </td>
</tr>
{% if include.talk.abstract %}
<tr
  class="abstract-row abstract-row-hidden"
  {%
  if
  include.year
  %}
  data-year="{{ include.year }}"
  {%
  endif
  %}
>
  <td colspan="4" class="abstract-content-cell">
    <div class="abstract-content">{{ include.talk.abstract }}</div>
  </td>
</tr>
{% endif %}
